<!DOCTYPE html>

<html>

    <head>
        <title>Diagnostic</title>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">


        <link rel="stylesheet" type="text/css" href="css/index.css" />
    </head>

    <body bgcolor="#3D3A3A">

        <div class="container">
            <div class="jumbotron">

                <div id="sidemenu" class="sidenav">
                       <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="index.html"><input type="image" src="images/home.png" width=21px height=20px onclick="closeNav()">&nbsp;&nbsp;Home</a>
                    <a href="history.html"><input type="image" src="images/history.png" width=22px height=21px onclick="closeNav()">&nbsp;&nbsp;History</a>
                    <a href="diag.html"><input type="image" src="images/note.png" width=22px height=20px onclick="closeNav()">&nbsp;&nbsp;Diagnostic</a>
                    <a href="warn.html"><input type="image" src="images/warn.png" width=22px height=19px onclick="closeNav()">&nbsp;&nbsp;Warnings</a></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<a href="setting.html"><img alt="cogs" src="images/cogs.jpg" padding-left="40px" width="28" height="28"></a>
</div>

<span id="header1" style="font-size:25px;" onclick="openNav()"> &nbsp;&nbsp;&#9776;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diagnostic</span>


</div>
</div>
<!--jumbotron end-->

<div id="rectangle">
<h2> Do you think you may have hearing loss?</h2>
<h3>You can take our in app hearing diagnostic test to verify current hearing loss. Our quick test provides both results and recommendations.</h3></br>
<h3>Begin below.</h3>
<p>Caution: Although this hearing test helps verify current hearing loss, it is not meticulous. Visit your nearest audiologist or health care professional for a thorough hearing test.</p></br>

<button class="button button1" onClick="location.href='diag2.html'">BEGIN</button>

    
</div>

<script src="js/index.js"></script>

</body>

</html>
