<!DOCTYPE html>

<html>

    <head>
        <title>Soundless</title>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
        <!--  charts from chart.js with references from http://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/#6-doughnut-chart-->
        <script src="js/index.js"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        
    </head>

    <body bgcolor="#3D3A3A">

        <div class="container">
            <div class="jumbotron">

                <div id="sidemenu" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="index.html"><input type="image" src="images/home.png" width=21px height=20px onclick="closeNav()">&nbsp;&nbsp;Home</a>
                    <a href="history.html"><input type="image" src="images/history.png" width=22px height=21px onclick="closeNav()">&nbsp;&nbsp;History</a>
                    <a href="diag.html"><input type="image" src="images/note.png" width=22px height=20px onclick="closeNav()">&nbsp;&nbsp;Diagnostic</a>
                    <a href="warn.html"><input type="image" src="images/warn.png" width=22px height=19px onclick="closeNav()">&nbsp;&nbsp;Warnings</a></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<a href="setting.html"><img alt="cogs" src="images/cogs.jpg" padding-left="40px" width="28" height="28"></a>
</div>

<span id="header1" style="font-size:25px;" text-align="center"; onclick="openNav()"> &nbsp;&nbsp;&#9776;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soundless</span>

</div>
</div>
</br>

<canvas id="doughnut-chart" width="20" height="20"></canvas></br></br></br>
<canvas id="line-chart" width="20" height="15"></canvas>

<script>
Chart.defaults.global.defaultFontColor = 'white';
Chart.defaults.global.defaultFontSize = 14; 
Chart.defaults.global.defaultFontStyle = 'normal'; 
    
new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["loud", "medium", "normal"],
      datasets: [
        {
          label: "Total Noise Level",
          backgroundColor: ["#DE3C18", "#145DC1","#14C136"],
          data: [25,25,50]
        }
      ]
    },
    options: {
      title: {
        display: true,
      }
    }
});
 
    new Chart(document.getElementById("line-chart"), {
    type: 'line',
    data: {
      labels: [20,40,60,80,100,120,140,160,180,200],
      datasets: [{
          label: "Hearing Level",
          borderColor: '#ECA63E' ,
          data: [0,23,45,35,20,60,40,50,40,100,122,30,147],
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: true,
          text: "Noise level throughout the day"
      }
    }
});

    
</script>




</body>

</html>
